<div class="span9">
	<h1>Delivery Methods</h1>
	<hr>
	<p><%= link_to 'New Delivery Method', new_delivery_method_path, :class => "btn" %></p>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
		    <th>Name</th>
		    <th class="span1"></th>
		  </tr>
		</thead>
		<tbody>
	<% @delivery_methods.each do |delivery_method| %>
	  	<tr>
		    <td><%= link_to delivery_method.name, edit_delivery_method_path(delivery_method) %></td>
		    <td><%= link_to "Delete", delivery_method, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %></td>
		  </tr>
	<% end %>
		</tbody>
	</table>
</div>