<div class="span9">
	<h1><%= @category.name %></h1>
	<p><%= @category.description %></p>
	<ul class="thumbnails">
		<%= render @products %>
	</ul>
	<%= will_paginate @products, :class => "pagination pagination-centered" %>
</div><!--/span-->
