<ul class="nav secondary-nav pull-right">
	<li><%= link_to(image_tag("flag-et.gif", :alt => "Eesti", :title => "Eesti keeles"), :locale => "et") %></li>
	<li><%= link_to(image_tag("flag-ru.gif", :alt => "Русский", :title => "По-русски"), :locale => "ru") %></li>
</ul>